<h1> Desarrolladores<h1>
<div>
        <div class="wrapper">

            
            <div class="container" id="c1">
                <div class="image" id="i1">
                    <div class="city">
                     <%= image_tag("DSC01592.JPG", style:"height:400px") %>

                    </div>
                </div>
                <div class="story" id="s1">
                    <div class="info">
                        <h3>Luis Alejandro</h3>
                        <h3>Parada Mojica</h3>
                    <p> Ingeniero Mecatrónico, .</p>
                    </div>
                </div>
            </div>
            <div class="container" id="c2">
                <div class="image" id="i2">
                    <div class="city">
                    <%= image_tag("DSC01604.JPG", style:"height:400px") %>

                    </div>
                </div>
                <div class="story1" id="s2">
                    <div class="info">
                    <h3>John Sebastian</h3>
                    <h3>Rodriguez Guevara</h3>
                    <p> Ingeniero Mecatrónico, .</p>

                    </div>
                </div>
            </div>

           

        </div>
</div>