




        <div  class="row mx-auto" >
          <div style="float:center" class="col my-auto  pad">
          <%= image_tag( "764x300.jpg", size: "800x900", :alt => "rss feed") -%>

          </div>
          <div class="col my-auto"  style="padding: 0px; ">
            <div class="col pad "  >
              <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif"  alt="">
            </div>
            <div class="col pad">
              <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif" alt="">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col pad">
            <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif" alt="">
          </div>
          <div class="col pad">
            <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif" alt="">
          </div>

        </div>



