          
               
                    <div class="container" style=" padding-left: 0px;padding-right: 0px">
                        <div class="row mx-auto">
                        <div class="col my-auto  pad">
							<img class="maxsize" src="images/764x300.jpg"  alt="">					
                            
                        </div>
                        <div class="col my-auto"  style="padding: 0px; ">
                            <div class="col pad "  >
                                <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif"  alt="">
                            </div>
                            <div class="col pad">
                                <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif" alt="">
                            </div>
                        </div>
                        
                        </div>
                        <div class="row">
                        <div class="col pad">
                            <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif" alt="">
                        </div>
                        <div class="col pad">
                            <img class="maxsize" src="http://www.ekiom.com/includes/assets/images/placehold/270x270.gif" alt="">
                        </div>
                        <div class="col pad">
                            <img class="maxsize" style="background-color:rgb(99, 48, 48); border-radius: 110px " src="images/hazlo_bogota.png"  alt="">	
                        </div>
                        </div>
                        
                    </div>
                
           
        