/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a{
    border: none;
    background: #5F5F5F;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;

    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;

}

a:hover {
    background: rgba(0,0,0,0);
    color: #000000;
    box-shadow: inset 0 0 0 3px #000000;
}
a:hover.logo {
    background: none);
    color: none;
    box-shadow: none;

}


img{
    padding: 10px;
    font-size: 20px;
}

.logo{
background: none;
}

.login{
    float: right;
}

body{

    background: -webkit-linear-gradient(-135deg, #eee, #eee);
    background: -o-linear-gradient(-135deg, #eee, #eee);
    background: -moz-linear-gradient(-135deg, #eee, #eee);
    background: linear-gradient(-135deg, #eee, #eee);
}


img:hover {

    opacity: 1;
    -webkit-animation: flash 0.5s;
    animation: flash 0.5s;

}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}




.wrap{
position: absolute; 
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
width: 30%;

}
.wrap1{
position: absolute; 
top: 30%;
left: 30%;
transform: translate(-50%,-50%);
width: 5%;

}

path{
    stroke: #000;
    fill:  #000;
    stroke-dasharray: 800;
    opacity:10;
    animation: animate 3s cubic-bezier(0,.23,1,.1);
}

@keyframes animate{
        0%{
            opacity: 0;
            fill: none;
            stroke-dashoffset: 1800;
        }
        30%{
            opacity: 10;
            fill: none;
            stroke-dashoffset: 1800;
        }
        90%{
            fill:rgba(255,255,255,0);
        }
        100%{
            opacity: 10;
            fill:rgba(255,255,255,.6);
            stroke-dashoffset:0;
        }


}
footer{
    text-align: center;
}